.default {
    background-color: #FFFFFF; /* white */
    color: #000000; /* black */
}

.protanopia {
    background-color: #F5F5DC; /* beige */
    color: #800000; /* maroon */
}

.deuteranopia {
    background-color: #E0FFFF; /* light cyan */
    color: #8B0000; /* dark red */
}

.tritanopia {
    background-color: #F0FFF0; /* honeydew */
    color: #00008B; /* dark blue */
}

div{
    border: 2px solid black;
}

.optDiv{
    
}